
.wrapper {
    display:flex;
    justify-content:center;
}

.container {
    max-width: 1124px;
    text-align: center;
}

// .row {
//     display: flex;
//     justify-content:space-between;
//     flex-wrap: wrap;
// }

.category {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

//Responsive
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}


/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

}